h1{
    background-color:rgb(136, 218, 145);
    font-family: "Brush Script MT", sans-serif;
}

.borscht{
    color: red;
    font-family:'Courier New', Courier, monospace;
}

h2{
    background-color:rgb(218, 217, 136);
}